# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Credentials / secrets
terraform-key.json
*.pem
*.key

# Crash logs
crash.log
crash.*.log

# Terraform plan files
*.tfplan
